worfklow_appreciations.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appreciations",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "799b3678-b883-47bc-88c5-e1b8ab57536a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        432,
        160
      ],
      "webhookId": "6580de78-9827-478b-ac9c-d4a3eddc29e8"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "={{ $json.body.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "38aab861-580d-4877-9c76-6890d05bbb2b",
      "name": "Set Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        704,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"output\": \"{{ $json.output || $json.text }}\"\n}",
        "options": {}
      },
      "id": "6d044d8a-53b6-4198-893c-b87df0a2e9e9",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1440,
        160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set Prompt').item.json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        912,
        160
      ],
      "id": "42d75e53-cb8f-4f24-a40d-5204457fdce9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        784,
        368
      ],
      "id": "6cb4dac9-2940-43c4-9c2a-de7dc96f123e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HVwkzU4PZD7D2acJ",
          "name": "Google Gemini(PaLM) Api Rajaom542"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "24a2b08f77aeb416fc8a1b6ce580fed9fca8abd82cfa8923be93e3103166544d"
  }
}