worfklow_appreciations.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appreciations",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "799b3678-b883-47bc-88c5-e1b8ab57536a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        432,
        160
      ],
      "webhookId": "6580de78-9827-478b-ac9c-d4a3eddc29e8"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.all()[0].json.body;\n\n// Fallback for legacy calls\nif (body.prompt && !body.student) {\n  return { prompt: body.prompt };\n}\n\nconst student = body.student || {};\nconst analysis = body.analysis || { trimestres: {} };\nconst config = body.config || {};\nconst raw_data = body.raw_data || {};\n\nconst trimestres = Object.keys(analysis.trimestres || {}).sort();\nconst dernierTrimestreKey = trimestres[trimestres.length - 1];\nconst dernierTrimestre = dernierTrimestreKey ? analysis.trimestres[dernierTrimestreKey] : {};\nconst numeroTrimestre = dernierTrimestreKey ? parseInt(dernierTrimestreKey.replace('trimestre', '')) : 3;\n\nlet prompt = `Tu es un professeur de ${config.matiere || 'matière'} en classe de ${config.niveau || 'niveau'}. Rédige une appréciation scolaire pour ${student.prenom || 'l\\'élève'} ${student.nom || ''}.\\n\\n`;\n\nprompt += `Données académiques:\\n`;\ntrimestres.forEach(t => {\n    const data = analysis.trimestres[t];\n    const trimNumber = t.replace('trimestre', '');\n    prompt += `- Trimestre ${trimNumber}: Moyenne devoirs ${data.moyenneDevoirs?.toFixed(1) || 'N/A'}/20`;\n    if (data.moyenneInterrogations !== null && data.nbInterrogations > 0) {\n        prompt += `, interrogations ${data.moyenneInterrogations?.toFixed(1)}/20`;\n    }\n    prompt += `\\n`;\n});\n\nprompt += `\\nDétail des notes (Moyenne, Coefficient, Type):\\n`;\ntrimestres.forEach(t => {\n    const notes = raw_data[t];\n    if (notes && notes.length > 0) {\n        prompt += `Trimestre ${t.replace('trimestre', '')}: `;\n        notes.forEach(n => {\n            prompt += `${n.note}/${n.coeff} (${n.evaluationType || '?'}) `;\n        });\n        prompt += `\\n`;\n    }\n});\n\nif (analysis.evolution) {\n    prompt += `- Évolution: ${analysis.evolution}\\n`;\n}\n\nif (student.investment && student.investment.length > 0) {\n    prompt += `\\nComportement et investissement:\\n`;\n    student.investment.forEach(criterion => {\n        prompt += `- ${criterion}\\n`;\n    });\n}\n\nlet conseilsSpecifiques = '';\nif (numeroTrimestre === 3) {\n    conseilsSpecifiques = `\\n- C'est le trimestre 3 (fin d'année), ne demande PAS de progresser ou de continuer les efforts\\n- Fais un bilan de l'année scolaire\\n- Pour les bons résultats : félicite et encourage pour la suite`;\n} else {\n    conseilsSpecifiques = `\\n- C'est le trimestre ${numeroTrimestre}, tu peux encourager la progression et donner des conseils pour la suite\\n- Donne des conseils constructifs`;\n}\n\nconst ecartDevoirs = Math.abs((dernierTrimestre.moyenneDevoirs || 0) - (dernierTrimestre.moyenneGenerale || 0));\nconst mentionnerNoteDevoirs = ecartDevoirs > 3;\n\nprompt += `\\nInstructions de rédaction :\\n`;\nprompt += `- Mentionne les résultats aux devoirs sur table en priorité\\n`;\nif (mentionnerNoteDevoirs) {\n    prompt += `- INDIQUE la note chiffrée aux devoirs sur table car écart significatif avec la moyenne générale\\n`;\n} else {\n    prompt += `- NE MENTIONNE PAS la note chiffrée aux devoirs, parle seulement de \"bons/très bons/excellents résultats\" ou \"difficultés\"\\n`;\n}\nprompt += `- Intègre le comportement/investissement si pertinent${conseilsSpecifiques}\\n`;\nprompt += `- Reste très concise (STRICTEMENT moins de 200 caractères)\\n`;\nprompt += `- IMPÉRATIF : L'appréciation DOIT être complète et se terminer par un point\\n`;\nprompt += `- Ne mentionne jamais les TP\\n`;\nprompt += `- Utilise un ton professionnel et bienveillant, tu vouvoies l\\'élève\\n`;\nprompt += `- Écris directement l\\'appréciation complète sans introduction ni explication.\\n`;\n\nreturn { prompt: prompt };"
      },
      "id": "38aab861-580d-4877-9c76-6890d05bbb2b",
      "name": "Generate Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"output\": \"{{ $json.output || $json.text }}\"\n}",
        "options": {}
      },
      "id": "6d044d8a-53b6-4198-893c-b87df0a2e9e9",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1440,
        160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Generate Prompt').item.json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        912,
        160
      ],
      "id": "42d75e53-cb8f-4f24-a40d-5204457fdce9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        784,
        368
      ],
      "id": "6cb4dac9-2940-43c4-9c2a-de7dc96f123e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HVwkzU4PZD7D2acJ",
          "name": "Google Gemini(PaLM) Api Rajaom542"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "24a2b08f77aeb416fc8a1b6ce580fed9fca8abd82cfa8923be93e3103166544d"
  }
}