workflow_prof_principal.json
{
  "name": "Générateur Appréciation Prof Principal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appreciations-pp",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.all()[0].json.body;\nconst subjects = body.subjects || [];\nconst generalAvg = body.generalAvg || {};\nconst trimester = body.trimester || '1';\n\nlet prompt = `Tu es le Professeur Principal d'un élève. Rédige une appréciation générale pour son bulletin du trimestre ${trimester}.\\n\\n`;\n\nprompt += `Moyenne générale de l'élève : ${generalAvg.student || 'N/A'}.\\n\\n`;\n\nprompt += \"Voici le détail par matière :\\n\";\n\nsubjects.forEach(sub => {\n    let subjectInfo = `- ${sub.name}`;\n    if (sub.teacher && sub.teacher !== 'N/A') subjectInfo += ` (${sub.teacher})`;\n    if (sub.hours) subjectInfo += ` [${sub.hours}]`;\n    subjectInfo += `: Note ${sub.grades.student || 'N/A'}`;\n    if (sub.grades.class) subjectInfo += ` (Moy. classe: ${sub.grades.class})`;\n    subjectInfo += `.\\n  Appréciation: \"${sub.appreciation}\"\\n`;\n    prompt += subjectInfo;\n});\n\nprompt += `\\nConsignes :\\n- Synthétise les points forts et les axes d'amélioration.\\n- Adopte un ton professionnel, encourageant et constructif.\\n- Ne répète pas le détail de chaque matière, mais dégage une tendance générale.\\n- Fais ressortir l'attitude et l'investissement global.\\n- Si c'est le 3ème trimestre, fais un bilan de l'année.\\n- Longueur : environ 3-4 phrases.\\n`;\n\nreturn { prompt };"
      },
      "name": "Generate Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4o"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        }
      },
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompt": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}