workflow_prof_principal.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appreciations-pp",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -480,
        544
      ],
      "id": "c3f5131b-cb8d-40c0-bae9-c268348e834d",
      "webhookId": "16cbebbf-9eb6-4f4f-b110-b4f2e9bd4f3e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.body }}",
        "options": {
          "systemMessage": "Tu es professeur principal de la classe, à partir de la liste des appréciations et des notes de l'élève, génère une appréciaiton générale de moins de 200 caractères. Adopte un ton professionnel.  Adresse toi directement à l'élève en la vouvoyant\nPas de Madame, monsieur\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -16,
        544
      ],
      "id": "6febe4f8-492d-4efe-a8a4-6f48e39e6710",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "24abb6a8-d456-48ee-a413-1437c122d6d5",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        336,
        544
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "albert-large",
          "mode": "list",
          "cachedResultName": "albert-large"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -16,
        736
      ],
      "id": "9007ec7b-a6d6-4448-9489-d998acb5788c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "FpDbf6X2aFv4svau",
          "name": "OpenAi Albert_chat_model"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "24a2b08f77aeb416fc8a1b6ce580fed9fca8abd82cfa8923be93e3103166544d"
  }
}